extends baseEmail
block content
    
    p #{firstName},
    p رمز عبور خود را فراموش کرده اید
    p با کلیک بر روی لینک زیر می توانید به بازیابی رمز عبور خود اقدام نمایید
    p #{url}
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
        tr
        td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                td
                    a(href=`${url}`, target='_blank') بازیابی رمز عبور
    p اگر رمز عبور خود را فراموش نکرده اید نسبت به این پیام به توجه باشید
    p 
