footer.footer   
    ul.nav
        li.nav__item
            a.nav__link(href="#") خانه ی رویایی
        li.nav__item
            a.nav__link(href="#") درخواست پروپوزال
        li.nav__item
            a.nav__link(href="#") درخواست طراحی داخلی
        li.nav__item
            a.nav__link(href="#") ارتباط با ما
        li.nav__item
            a.nav__link(href="#") درباره ما
    p.copyright &copy;  محمدحسن تبریزی