header.header
    img.header__logo(src='/img/logo.png' alt="Nexter logo")
    h3.heading-3 خانه های رویایی خود را با
    h1.heading-1 مشاوران ایرانی در ترکیه پیدا کنید
    button.btn.header__btn
        a.home-anchor(href=`/houses`) لوکس ترین املاک
    
